body{
  font-family: 'Lato', sans-serif;
  padding: 1px 100px 1px 100px;
}
nav
{
  padding-left: 10px;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: bold;
}
h2
{
  color: #d99d2c;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
section h1
{
  color: #fff;
  text-transform: uppercase;
}
section h3
{
  color: #000;
}
img
{
  width : 200px;
  height : 200px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}

#about
{
  padding-top: 100px;
  background: #8c8c8c
}
.profile-picture
{
  text-align: center;
  margin: 0 auto;
  float: none;
}
.heading
{
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}
#firstpart
{
  padding-bottom: 500px;
  margin-bottom: 500px;
}
.button1
{
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
}
.etude-font
{
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#competencehtml
{
  margin-top: 100px;
}
.liste
{
  padding-top: 150px;
  padding-bottom: 150px;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}
#moncv-first
{
  color: #d99d2c;
  padding-right: 100px;
}

ul
{
  float: right;
}
